@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: hsla(0, 0%, 100%, 0.705);
  --foreground: hsla(0, 94%, 33%, 0.78);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(330, 89%, 47%);
    --foreground: hsla(0, 0%, 93%, 0.692);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    /* text-wrap is not supported in Chrome < 114, Firefox < 121, Safari < 17.4, Safari on iOS < 17.4 */
    /* Consider using 'white-space: normal;' instead */
    white-space: normal;
  }
}
